[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: element;
}

.sortable-items {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.sortable-item {
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  text-align: center;
  border: 2px solid #000;
  background-color: #eee;
  cursor: move;
  .point-events-none {
    pointer-events: none;
  }
}

.sortable-item-over {
  border: 2px dashed #000;
}
